* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#home {
  min-height: 100vh;
  background: linear-gradient(45deg, #1b1d25, #171921, #262935);
}

/* Nav Bar */
nav {
  min-height: 10%;
  display: flex;
  justify-content: space-between;
  padding: 1% 0 0 0;
  color: white;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}

nav li {
  background: linear-gradient(45deg, #171921, #1c1e28);
  box-shadow: -5px 5px 11px #12141b, 5px -5px 11px #282b38;
  border: none;
  margin: 0 2% 0 2%;
  padding: 1%;
  border-radius: 10px;
}

nav li a {
  color: #2dc056;
  text-decoration: none;
  text-shadow: 1px 1px 10px #2dc056;
}

nav .openMenu {
  font-size: 2rem;
  justify-self: center;
  align-self: center;
  margin-right: 20px;
  display: none;
  cursor: pointer;
}

nav .mainMenu .closeMenu,
.icons img {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

#logo {
  width: 50%;
  padding-left: 5%;
}

#logo img {
  border-radius: 50px;
  width: 20%;
  height: auto;
  background: linear-gradient(45deg, #171921, #1c1e28);
  box-shadow: -5px 5px 11px #12141b, 5px -5px 11px #282b38;
}

/* Central Text */

#info {
  justify-self: center;
}

#info h3 {
  font-size: 3.5rem;
  color: rgb(207, 207, 207);
  font-family: 'Merriweather', serif;
}

#info h5 {
  text-align: center;
  font-size: 1.5rem;
  padding: 2%;
  color: rgb(207, 207, 207);
  font-family: 'Merriweather', serif;
}

#btn {
  text-align: center;
  margin: 5%;
}

#btn .button {
  border-radius: 10px;
  padding: 2%;
  cursor: pointer;
  outline: none;
  font-weight: 600;
  background: #26f561;
  box-shadow: -1px 1px 5px #04ff4a, 1px -1px 11px rgb(207, 207, 65);
  border: 1px solid #1a1c2591;
  color: #1d6b33;
}

/* Controllers */

.player1 {
  width: 3%;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: rotate(-45deg);
}

.player2 {
  width: 3%;
  position: absolute;
  top: 25%;
  left: 15%;
  transform: rotate(-45deg);
}

.player3 {
  width: 3%;
  position: absolute;
  top: 50%;
  right: 20%;
  transform: rotate(45deg);
}

.player4 {
  width: 3%;
  position: absolute;
  top: 25%;
  right: 15%;
  transform: rotate(45deg);
}

/* Logo / Banner */

#astroBlack {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  align-items: center;
}

#cardAstroBlack {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1%;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: auto;
  padding: 1rem;
  margin: 1% 0 3% 0;
  border-radius: 50px;
  background: linear-gradient(45deg, #171921, #1c1e28);
  box-shadow: -5px 5px 11px #12141b, 5px -5px 11px #282b38;
}

#cardAstroBlack img {
  max-width: 100%;
  border-radius: 150px;
  background: #1a1c25;
  box-shadow: -5px 5px 11px #0c0d12, 5px -5px 11px #282b38;
}

#cardAstroBlack h1 {
  justify-self: center;
  font-size: 4rem;
  color: #ffffff;
  font-family: 'Fredoka One', cursive;
  font-weight: 400;
}

#cardAstroBlack span {
  -webkit-text-stroke: 2px rgb(180, 179, 179);
  color: #1a1c25;
}

#wave1 {
  width: 100%;
  margin: -2% 0 -1% 0;
}

/* Price Section */

.priceHead {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  border-radius: 20px;
  background: linear-gradient(45deg, #171921, #1c1e28);
  box-shadow: 5px 5px 10px #cbcaca, -5px -5px 10px #ffffff;
  font-family: 'Fredoka One', cursive;
  font-weight: 400;
  padding: 5%;
}

.priceHead img {
  width: 20%;
  border-radius: 50px;
  background: #1a1c25;
  box-shadow: -5px 5px 11px #0c0d12, 5px -5px 11px #282b38;
}

.priceHead h3 {
  color: white;
  padding: 0 0 0 2%;
}

.cardPriceMain {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 5px 5px 10px #cbcaca, -5px -5px 10px #ffffff;
  padding: 3%;
  margin: 2%;
}

.priceSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 5%;
}

.cardPriceMain .titleSection {
  width: 30%;
}

.cardPriceMain .titleSection img {
  width: 30%;
}

.cardPriceMain .titleSection h3 {
  font-size: 1.3rem;
}

.cardPrice p {
  padding-bottom: 3%;
}

.cardPrice ul {
  margin-left: 15%;
  line-height: 1.5rem;
}

#devicesMain {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#devicesMain p {
  text-align: center;
  padding-top: 2%;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
}

#devicesMain p:last-child {
  margin: auto;
  justify-self: center;
  text-align: center;
  font-size: 0.8rem;
}

#devicesIMG {
  padding: 4% 0 1% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#devicesIMG img {
  width: 50%;
}

/* Cards Sections */

#cardGames {
  background: #efeeee;
  min-height: 100vh;
}

#titleMain {
  padding: 1%;
}

#titleMain p {
  text-align: center;
  padding-top: 2%;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
}

.titleSection {
  margin: auto;
  width: 20%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: linear-gradient(45deg, #171921, #1c1e28);
  box-shadow: 5px 5px 10px #cbcaca, -5px -5px 10px #ffffff;
  font-family: 'Fredoka One', cursive;
  font-weight: 400;
  padding: 1%;
}

.titleSection img {
  width: 30%;
  border-radius: 50px;
  background: #1a1c25;
  box-shadow: -5px 5px 11px #0c0d12, 5px -5px 11px #282b38;
}

.titleSection h3 {
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.gameCards {
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5%;
}

.cardInfo {
  display: grid;
  justify-content: center;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  background: #efeeee;
  box-shadow: 5px 5px 10px #cbcaca, -5px -5px 10px #ffffff;
}

.cardInfo img {
  width: 100%;
  height: 90%;
}

.cardInfo p {
  align-self: end;
  text-align: center;
  font-size: 2rem;
}

/* Footer */

#wave {
  width: 100%;
  margin-bottom: -5%;
}

#social {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a1c25;
}

#social img {
  padding: 0 0.5%;
}

#social p {
  color: white;
  font-family: 'open sans', cursive;
}

/* Responsive */

@media only screen and (max-width: 1024px) {
  .player1 {
    left: 10%;
  }

  .player2 {
    left: 5%;
  }

  .player3 {
    right: 10%;
  }

  .player4 {
    right: 5%;
  }

  #cardAstroBlack h1 {
    font-size: 3.3rem;
  }

  #titleMain {
    padding: 3%;
  }

  .titleSection {
    width: 30%;
    padding: 3%;
  }

  #devicesIMG img {
    width: 100%;
  }

  .gameCards {
    padding-bottom: 10%;
  }
}

@media only screen and (max-width: 460px) {
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(45deg, #1b1d25, #171921, #262935);
    transition: top 1.5s ease-in-out;
    display: none;
  }

  nav li {
    padding: 3%;
    font-size: 2rem;
  }

  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  nav .openMenu {
    display: block;
  }

  .icons img {
    display: inline-block;
    padding: 12px;
  }

  #logo img {
    width: 40%;
  }
  #info h3 {
    font-size: 3rem;
    margin-left: 2%;
  }

  #info h5 {
    font-size: 1.5rem;
    padding: 4%;
  }
  .player1,
  .player2,
  .player3,
  .player4 {
    display: none;
  }

  #cardAstroBlack {
    margin: 5% 0;
    width: 95%;
    grid-template-columns: 1fr;
    padding: 1% 0;
  }

  #cardAstroBlack img {
    justify-self: center;
    max-width: 35%;
  }

  #cardAstroBlack h1 {
    font-size: 3.3rem;
  }

  .titleSection {
    margin-top: 5%;
    width: 50%;
  }

  .titleSection h3 {
    font-size: 2rem;
  }

  .gameCards {
    justify-content: center;
    padding-bottom: 50%;
  }

  #about .titleSection {
    width: 70%;
  }

  #about .titleSection h3 {
    font-size: 2rem;
  }

  #about #titleMain p {
    padding-top: 10%;
    margin-bottom: 2%;
  }

  .priceSection {
    margin: 5%;
    grid-template-columns: 1fr;
    gap: 5%;
  }

  .cardPrice p {
    padding-bottom: 10%;
  }

  #social img {
    padding: 0 1%;
  }

  #devicesMain p:first-child {
    padding: 5%;
  }

  #devicesMain p:last-child {
    font-size: 0.5rem;
    padding: 10%;
  }
}

@media only screen and (max-width: 420px) {
  #info h3 {
    margin-top: 3%;
    font-size: 2.8rem;
  }
  #cardAstroBlack h1 {
    font-size: 2rem;
  }

  .titleSection {
    width: 60%;
    padding: 5%;
  }

  #about #titleMain .titleSection {
    margin-top: 8%;
    width: 80%;
    padding: 5%;
  }

  #devicesIMG {
    padding: 15% 0 1% 0;
  }
}
